body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans HK';
}

/* First Section */
#title {
    background-color: #ff4c68;
    color: #fff;
    font-family: 'Noto Sans HK', sans-serif;
    text-align: left;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Headings */

.big-heading {
    font-family: 'Noto Sans HK';
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#logo-work {
    color: #ef8172;
    margin-bottom: 1rem;
}

#logo-work:hover {
    color: #ff4c68:
}

.bold-text {
    font-size: 25px;
}


/* Call to Action */

.action-font {
    color: #fff;
    font-size: 3rem;
}

.find-section {
    background-color: #ff4c68;
    padding: 2% 2% 0;
    font-family: 'Noto Sans HK';  
   
    font-weight: 900;
}

.download-button2 {
    margin: 2% 0 5% 1%;
    font-size: 1rem;
}

/* Title section */

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.download-button {
    margin: 5% 3% 5% 0;
}


/* Testimonial Section */

#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


/* Press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.nav-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    position:relative;
    left:500px;
}

/* pricing section */

#pricing {
    padding: 100px;
}

.pricing-name {
    font-size: 1.5rem;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* Footer */

#footer-spacing {
    margin: 10px;
}

.footer-text {
    font-family: 'Noto Sans HK';
    padding: 2%;
}